<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="superApp">
  <h1>Super Heros</h1>
  <section ng-controller="SupersController as vm">
    <input type="text" name="search" ng-model="search">
    <p>{{search}}</p>
    <ul>
      <li ng-repeat="heroes in vm.heroes | filter: search">
          <h2>{{heroes.name}}</h2>
          <p>{{heroes.phonenumber}}</p>
          </p>{{heroes.comics_affiliation}}</p>
          <img ng-src="{{heroes.img_url}}">
      </li>
    </ul>
  </section>
</body>
</html>
